body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
}


.header {
    background-color: #1F2937;
    
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    
}

.hero{
    background-color: #1F2937;
    display: flex;
    flex: 1 0 auto;
    
}

.heroimage{
    display: flex;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    
}

.information{
    display: flex;
    flex: 1 0 auto;
    
    
}
.container{
    display: flex;
}

.information .container{
    display: flex;
}


.container .info{
    border: 2px solid blue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container .indivboxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
    max-height: 100px;
    max-width: 150px;
}

.quotebox{
    display: flex;
    background-color: #E5E7EB;
    flex: 1 0 auto;
}

.signup{
    display: flex;
    flex: 1 0 auto;
    
}

.signupcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border-radius: 5px;
    

}
.footer{
    background-color: #1F2937;
    Color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.logo{
    Color: #F9FAF8;
    font-size: 24px;
    
}

a{
    color:white;
    font-size: 15px;
    text-decoration: none;
}

.links{
    display: flex;
    gap: 10px;
}